<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection,UrlRewritingNet.UrlRewriter"/>
  </configSections> 
  <urlrewritingnet configSource="urlrewrite.config"></urlrewritingnet>
  <!--<modules>
    <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
  </modules>
  -->  
  <appSettings configSource="app.config">	</appSettings>
	<connectionStrings>
    <add name="ConnectionStringsv" connectionString="Data Source=112.78.1.46;Initial Catalog=gisc_noithathoaphat; User ID=gisc_ushoaphat;Password=Ntc4acenn;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString" connectionString="Data Source=danhbien64-pc;Initial Catalog=noithathoaphat;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString00" connectionString="Data Source=danhbien64-pc;Initial Catalog=hpdatabase;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringImport" connectionString="Data Source=DANHBIEN-PC;Initial Catalog=hpshopdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
		<add name="connectionString2" connectionString="workstation id=HPSHOPCSDL.mssql.somee.com;packet size=4096;user id=csdl01;pwd=12345678;data source=HPSHOPCSDL.mssql.somee.com;persist security info=False;initial catalog=HPSHOPCSDL" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
    <httpModules>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </httpModules>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
			</providers>
		</roleManager>
    <customErrors mode="RemoteOnly" defaultRedirect="thongbao.htm"/>
	</system.web>
	 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
        <add value="Index.html" />
        <add value="Index.htm" />
        <add value="Index.cfm" />
        <add value="Index.shtml" />
        <add value="Index.shtm" />
        <add value="Index.stm" />
        <add value="Index.php" />
        <add value="Index.php3" />
        <add value="Index.asp" />
        <add value="Index.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
